



**Installing pyspark**

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 32 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=9fd4e88e601885ae5aa4945df6a7861df1ac3c916b5a133d4147c099af663bec
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

**Importing pyspark and starting a session and read the csv file**

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
spark

In [4]:
df_spark=spark.read.option('header','True').csv('sample_data/california_housing_train.csv',inferSchema=True)
df_spark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [5]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [10]:
print("Length of the dataframe",df_spark.count())

Length of the dataframe 17000

In [22]:
#check whether any column has null value or not
for i in df_spark.columns:
  print(f'column : {i} :: count_val : {df_spark.filter(df_spark[i].isNull()).count()}')

column : longitude :: count_val : 0
column : latitude :: count_val : 0
column : housing_median_age :: count_val : 0
column : total_rooms :: count_val : 0
column : total_bedrooms :: count_val : 0
column : population :: count_val : 0
column : households :: count_val : 0
column : median_income :: count_val : 0
column : median_house_value :: count_val : 0

In [23]:
df_spark.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

# **Exploratory data analysis **

In [26]:
#Group housing_median_age in descending order  and get the count 
result_df = df_spark.groupBy("housing_median_age").count().sort("housing_median_age", ascending=False)
result_df.show()

+------------------+-----+
|housing_median_age|count|
+------------------+-----+
|              52.0| 1052|
|              51.0|   32|
|              50.0|  112|
|              49.0|  111|
|              48.0|  135|
|              47.0|  175|
|              46.0|  196|
|              45.0|  235|
|              44.0|  296|
|              43.0|  286|
|              42.0|  308|
|              41.0|  232|
|              40.0|  249|
|              39.0|  302|
|              38.0|  318|
|              37.0|  437|
|              36.0|  715|
|              35.0|  692|
|              34.0|  567|
|              33.0|  513|
+------------------+-----+
only showing top 20 rows

In [32]:
#the average of  median_house_value
result_df = df_spark.groupBy().mean("median_house_value")
result_df.show()

+-----------------------+
|avg(median_house_value)|
+-----------------------+
|     207300.91235294117|
+-----------------------+

In [ ]:
result_df = df_spark.groupBy("housing_median_age").count().sort("housing_median_age", ascending=False)

In [41]:
#find the average population for each set of bedrooms
result_df = df_spark.groupBy('total_bedrooms').mean().select('total_bedrooms','avg(population)').sort('total_bedrooms')
result_df.show()

+--------------+------------------+
|total_bedrooms|   avg(population)|
+--------------+------------------+
|           1.0|              13.0|
|           2.0|               6.0|
|           3.0|             24.25|
|           4.0|26.333333333333332|
|           5.0|              15.0|
|           6.0|              27.2|
|           7.0|             34.75|
|           8.0|              19.0|
|           9.0|33.285714285714285|
|          10.0|             72.75|
|          11.0|30.571428571428573|
|          12.0|              52.2|
|          13.0|              59.0|
|          14.0|54.666666666666664|
|          15.0|              42.0|
|          16.0| 66.33333333333333|
|          17.0|1122.1666666666667|
|          18.0|61.666666666666664|
|          19.0|             466.0|
|          20.0|              65.2|
+--------------+------------------+
only showing top 20 rows

In [49]:
##find the average median_income for population
result_df = df_spark.groupBy("population").mean().select('population','avg(median_income)').sort('population', ascending=True)
result_df.show()

+----------+------------------+
|population|avg(median_income)|
+----------+------------------+
|       3.0|             0.536|
|       6.0|             2.375|
|       8.0|            2.6875|
|       9.0|            1.0805|
|      11.0|             5.048|
|      13.0|            8.2278|
|      14.0|             1.125|
|      15.0|           2.18745|
|      17.0|           11.3599|
|      18.0|           0.51795|
|      20.0|2.4286666666666665|
|      23.0| 4.211966666666666|
|      24.0|            3.6875|
|      25.0|           4.92235|
|      26.0| 2.939766666666667|
|      27.0|           2.85715|
|      28.0|             3.625|
|      29.0|            3.8737|
|      30.0|           4.95345|
|      32.0|             5.875|
+----------+------------------+
only showing top 20 rows

In [50]:
#find the avg(median_house_value) for housing_median_age
result_df = df_spark.groupBy("housing_median_age").mean().select('housing_median_age','avg(median_house_value)').sort('housing_median_age', ascending=True)
result_df.show()

+------------------+-----------------------+
|housing_median_age|avg(median_house_value)|
+------------------+-----------------------+
|               1.0|               190250.0|
|               2.0|     229438.83673469388|
|               3.0|     239450.04347826086|
|               4.0|      230054.1055900621|
|               5.0|     211035.70854271358|
|               6.0|     206768.24031007753|
|               7.0|       188445.059602649|
|               8.0|     190805.07303370786|
|               9.0|      190306.9941860465|
|              10.0|     178416.39380530972|
|              11.0|            182480.3125|
|              12.0|          181590.640625|
|              13.0|     188065.47389558234|
|              14.0|     191181.28818443805|
|              15.0|     181031.02403846153|
|              16.0|     200354.50708661418|
|              17.0|     191772.24479166666|
|              18.0|     192074.71548117156|
|              19.0|     196017.75242718446|
|              20.0|     192681.75195822454|
+------------------+-----------------------+
only showing top 20 rows

In [52]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [54]:
#Implement machine learning problem

from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["longitude","latitude","housing_median_age","total_rooms","population","households","median_income"],outputCol="Independent Features")
output=featureassembler.transform(df_spark)
output.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Independent Features|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|[-114.31,34.19,15...|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|[-114.47,34.4,19....|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|[-114.56,33.69,17...|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|[-114.57,33.64,14...|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|[-114.57,33.57,20...|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 5 rows

In [55]:
finalized_data=output.select("Independent Features","median_house_value")
finalized_data.show(5)

+--------------------+------------------+
|Independent Features|median_house_value|
+--------------------+------------------+
|[-114.31,34.19,15...|           66900.0|
|[-114.47,34.4,19....|           80100.0|
|[-114.56,33.69,17...|           85700.0|
|[-114.57,33.64,14...|           73400.0|
|[-114.57,33.57,20...|           65500.0|
+--------------------+------------------+
only showing top 5 rows

In [57]:
##train test split and implement linear regression

from pyspark.ml.regression import LinearRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
lr=LinearRegression(featuresCol='Independent Features', labelCol='median_house_value')
lr=lr.fit(train_data)
print(lr.coefficients)
print(lr.intercept)

pred=lr.evaluate(test_data)

[-42241.20448744114,-42680.348657241,1125.9811858922883,-2.509286465493427,-43.14462283794586,152.92283423297582,38659.13574583207]
-3513170.496022557

In [58]:
pred.predictions.show(5)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+------------------+------------------+
|Independent Features|median_house_value|        prediction|
+--------------------+------------------+------------------+
|[-124.26,40.58,52...|          111400.0|165160.76043289248|
|[-124.23,40.54,52...|          106700.0|191896.16777670756|
|[-124.23,41.75,11...|           73200.0| 68209.53345653694|
|[-124.19,41.78,15...|           74600.0| 49870.91467175586|
|[-124.17,40.77,30...|           81300.0|118980.17005428486|
+--------------------+------------------+------------------+
only showing top 5 rows

In [59]:
print("Mean absolute error for validation set:",pred.meanAbsoluteError)
print("Mean square error for validation set:",pred.meanSquaredError)
print("----"*10)


train=lr.evaluate(train_data)

print("Mean absolute error for training set:",train.meanAbsoluteError)
print("Mean square error for training set:",train.meanSquaredError)

Mean absolute error for validation set: 51769.38541352953
Mean square error for validation set: 4906357548.994443
----------------------------------------
Mean absolute error for training set: 51255.63370493585
Mean square error for training set: 4886397756.567361